<!DOCTYPE html>
<html>

<head>
    <title>Dati Album</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap-grid.css"/>
	<link rel="stylesheet" type="text/css" href="../stile.css"/>
</head>

<%- include('layout') -%>

<body>
	<p>ID: <%= user.id %></p>
	<p>Visita il tuo profilo:
		<a href="<%= user.uri %>">vai</a>
	</p>
</body>
</html>

