<!doctype html>
<html>

<head>
  <title>Chat</title>
  <link rel="stylesheet" href="stile.css">
  <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io(); 
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        var theColor = getRandomColor();    //???
        function f() {
            var name = '<%= user.username %>';
            var message = document.getElementById('message').value;
            var id = '<%= user.id %>';

            socket.emit('chatter', `
            <a href='/accountPubblico?id=${id}'>
                <b style="color: #1DB954">${name}</b></a>: ${message}
                `);
            document.getElementById('message').value='';
            return true;
        }

        socket.on('chatter', function(message) {
            //console.log(message);
            var daAggiungere = '<li style="margin-bottom: 5px">' + message + '</li>';
            document.getElementById('chat-messages').innerHTML += daAggiungere;
        });
    </script>
    <script>
        function runScript(e){
            if (e.keyCode == 13) {
                document.getElementById("invio").click();
                return false;//serve false
            }
        }
    </script>
</head>

<body style="height: 100%">
    <%- include('layout') -%>
    
    <h1 align='center'>Chat</h1>
    <div style="height: 400px; width: 80%; background-color: white; margin: auto; white-space: nowrap; overflow-y: scroll;">
        <ul style="color: black; font-size: larger; list-style: none; position: relative" id='chat-messages'>
            <!-- <li> dinamici -->
        </ul>
    </div>

        <br><br>

    <center>
        <form>
            <p>
                <textarea onkeypress="return runScript(event)" style="width: 60%;" 
                class='input' placeholder='Scrivi qualcosa...' id='message' maxlength="999" required></textarea>
            </p>
            <p>
                <input id= "invio" onClick="return f()" type='button' class='btn btn-success btn-rounded' value='Invia'>
            </p>
        </form>
    </center>
    <footer style="background-color: #1DB954; bottom: 0; position: absolute; width: 100%">
	
        <div class="my_div" style="color: #191414"><b>SpotiX | Giovanni Pecorelli, Giacomo Venneri, Jacopo Rossi</b></div>
    
    </footer>
</body>
</html>