<!DOCTYPE html>
<html>

<head>
    <title>Dati Album</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap-grid.css"/>
	<link rel="stylesheet" type="text/css" href="../stile.css"/>
</head>

<%- include('layout') -%>

<body>
    <center>
        <div class="container sfondo" style="background-image: url('<%= spotify.images[0].url %>');">
            <div class="filtro"></div>
                <div class="noopacity">
                    <h1><%= spotify.name %></h1>
                    <br>
                    <iframe src="https://open.spotify.com/embed/album/<%= spotify.id %>" width="500" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe><br><br><br>
                    <br>
                </div>
            </div>
        </div>
    </center>
</body>
</html>