<!DOCTYPE html>
<html>
	<head>
		<title>SpotiX</title>
		<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap-grid.css"/>
		<link  rel="stylesheet" type="text/css" href="../stile.css"/>
	</head>

	<body style="height: 100%">
		<center>
			<% if (!user) { %>
				<div style="margin-top: 20%;">
					<h1>Benvenuto in SpotiX!</h1>
					<h3>Per cominciare, accedi attraverso Spotify</h3>
					<br><br>
					<a href="/auth/spotify"><button class="btn btn-success btn-rounded">Accedi</button></a>
				</div>
			<% } else { %>
				<div style="margin-top: 10%;">
					<h2>Ciao, <%= user.username %>.</h2>
					<image src="<%= user.picture %>"></image><br><br><br>
					<h2>Comincia a cercare le tue canzoni preferite</h2>
					<a href="/ricerca"><button class="btn btn-success btn-rounded">Inizia</button></a>
				</div>
			<% } %>
		</center>
		<footer style="background-color: #1DB954; bottom: 0; position: absolute; width: 100%">
	
			<div class="my_div" style="color: #191414"><b>SpotiX | Giovanni Pecorelli, Giacomo Venneri, Jacopo Rossi</b></div>
		
		</footer>
	</body>
</html>