<!DOCTYPE html>
<html>
	<head>
		<title>Progetto RC</title>
		<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap-grid.css"/>
		<link  rel="stylesheet" type="text/css" href="../stile.css"/>
	</head>

	<body>
		<center>
			<% if (!user) { %>
				<div style="margin-top: 20%;">
					<h1>Benvenuto in Progetto RC!</h1>
					<h3>Per cominciare, accedi attraverso Spotify</h3>
					<br><br>
					<a href="/auth/spotify"><button>Accedi</button></a>
				</div>
			<% } else { %>
				<div style="margin-top: 10%;">
					<h2>Ciao, <%= user.username %>.</h2>
					<p>Sei acceduto correttamente con email: <%= user.emails[0].value %></p>
					<image src="<%= user.photos[0] %>"></image>
					<h2>Comincia a cercare le tue canzoni preferite</h2>
					<a href="/ricerca"><button>Inizia</button></a>
				</div>
			<% } %>
		</center>
	</body>
</html>