<!DOCTYPE html>
<html>
	<head>
		<title>Progetto RC</title>
	</head>

	<header>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> |
			<a href="/login">Log In</a>
		</p>
		<% } else { %>
			<p>
				<a href="/">Home</a> |
				<a href="/account">Account</a> |
				<a href="/logout">Log Out</a>
			</p>
		<% } %>
	</header>

	<body>
		<% if (!user) { %>
			<h2>Welcome! Please log in.</h2>
			<p><a href="/login">login</a></p>
		<% } else { %>
			<h2>Hello, <%= user.username %>.</h2>
			<p>Your email is <%= user.emails[0].value %></p>
			<p>Your picture is:  <image src="<%= user.photos[0] %>"></image></p>
		<% } %>
	</body>
</html>