<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap-grid.css"/>
	<link  rel="stylesheet" type="text/css" href="../stile.css"/>
</head>

<header>
	
	<nav class="navbar navbar-expand-md navbar-dark">
										   
	   <div>
	   
		   <ul class="navbar-nav">
			   <li align="left"> 
				   <img onclick="" class="iconahome" src="" height="70px"/>
			   </li>
			   <li class="nav-item link-pad">
				   <a class="nav-link" href="/"">Homepage</a>
			   </li>

			   <li class="nav-item link-pad">
				   <a class="nav-link" href="/ricerca"">Cerca</a>
			   </li>
			   
			   <li class="nav-item link-pad">
				   <a class="nav-link" href="/logout"">Logout</a>
			   </li>
		   </ul>

</header>

</html>