<!DOCTYPE html>
<html>

<head>
    <title>Ricerca</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1/dist/css/bootstrap-grid.css"/>
	<link  rel="stylesheet" type="text/css" href="../stile.css"/>
</head>

<%- include('layout') -%>

<body>
    <center>
        <form action="http://localhost:8888/ricerca" method="post">
            <h2>Cerca una canzone:</h2><br>
            <input type="text" name="song" placeholder="">
            <br><br>
            <input type="submit" value="Cerca">
        </form>
        <br><br><br>
        <form action="http://localhost:8888/ricercaAlbum" method="post">
            <h2>Oppure cerca un album:</h2><br>
            <input type="text" name="album" placeholder="">
            <br><br>
            <input type="submit" value="Cerca">
        </form>
    </center>
</body>

</html>