<!DOCTYPE html>
<html>

<head>
	<title>Ricerca</title>
</head>

<%- include('layout') -%>

<form action="http://localhost:8888/ricerca" method="post">
    Canzone:<br>
    <input type="text" name="song" placeholder=>
    <br>
    <input type="submit" value="Submit">
</form>

</html>